/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

.django-votes {
    .votes-overview {
        width:200px;
        margin-left:20px;
        margin-top:20px;
        
        .up-votes, .down-votes {
            height:20px;
        }     
        
        .up-votes {
            float:left;
            background-color:#457960;
            border: 1px solid #f0f2f3;
        }   
        
        .down-votes {
            float:left;
            background-color:red;
            border: 1px solid #f0f2f3;
        }
    }
    
    .vote-buttons {
        float:left;
    }
    
    .vote-results {
        clear:both;
        
        .vote-count {
            font-weight:bold;
        }
        
        .vote-bar {            
        }
        .vote-bar.up {
            background-color:#457960;
            border: 1px solid #f0f2f3;
        }
        .vote-bar.down {
            background-color:red;
            border: 1px solid #f0f2f3;
        }
    }
}
